// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'components/buttons';
@import 'components/frontpage';
@import 'components/bootstrap-datepicker.min';

#app {
  flex: 1 0 auto;
}

html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.card {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
}
