.noUi-value {
  color: #636b6f;
}

.noUi-value-sub {
  color: #636b6f;
  font-size: 10px;
}

.noUi-marker-sub {
  background: #636b6f;
}

.noUi-marker-large {
  background: #636b6f;
}

.noUi-pips-horizontal {
  padding: 0px;
}
